* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
}

body {
    background:linear-gradient(#191A19,#1E5128,#4E9F3D,#D8E9A8);
}

.header{
    width: 100%;
    height: 70px;
    background:linear-gradient(45deg,#191A19,#1E5128,#4E9F3D,#D8E9A8);
    
    
    
    
    
}


.conteiner{
    width: 95%;
    height: 100%;
    margin: auto;
    position: static;
}

.conteiner_02{
    width: 70%;
}

.header .conteiner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navbar{
    width: 60%;
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
}

.header h1{
    color: #ffffff;
}

.header h2{
    color: yellow;
    margin-left: 65px;
}

.navbar li{
    font-weight: lighter;
    font-size: 20px;
    color: white;
}

.navbar li a{
    text-decoration: none;
    color: white;
}

.navbar .active{
    font-weight: bolder;
    color: yellow;
}

.centro{
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}
.centro .div_cadastro{
    background-color: white;
    font-size: 30px;
    margin-top: 100px;
    font-weight: bold;
    width: 400px;
    height: 300px;
    
    

}
#titulo_login{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.div_cadastro img{
    height: 50px;
    display: flex;
    margin: auto;
}
.div_cadastro .tech_login{
    background-color: green;
   
}
.ipt_login{
    border: grey groove 3px;
    border-radius: 5px;
    height: 30px;
}
#tech_login{
    color: white;
}
#bet_login{
    color: yellow;
}


#btn_login {
    background-color: gold;
    color: white;
    border: none;
    border-radius: 10px;
    height: 30px;
    width: 200px;
    cursor: pointer;
    font-size: 15px;
    transition: 1s;
    margin-top: 30px;
    font-weight: bold;
}
.corpo_log{
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;

}

.itens_log{
    font-size: 15px;
}

#btn_login:hover{
    background-color: greenyellow;

}

.div_newuser{
    font-size: 12px;
    margin-top: 5px;
}
.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    height: 110px;
    position: static;
    width: auto;
    margin-top: 300px;
}

.footer p{
    font-weight: bolder;
    color: white;
}

