* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
     border: none;
     
}
 
body {
    background:linear-gradient(#191A19,#1E5128,#4E9F3D,#D8E9A8);
}

.header{
    width: 100%;
    height: 70px;
    background:linear-gradient(45deg,#191A19,#1E5128,#4E9F3D,#D8E9A8);
    position: fixed;
    
}

.conteiner{
    width: 95%;
    height: 100%;
    margin: auto;
    position: static;
}

.conteiner_02{
    width: 70%;
}

.header .conteiner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navbar{
    width: 60%;
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
}

.header h1{
    color: #ffffff;
}

.header h2{
    color: yellow;
    margin-left: 65px;
}

.navbar li{
    font-weight: lighter;
    font-size: 20px;
    color: white;
}

.navbar li a{
    text-decoration: none;
    color: white;
}

.navbar .active{
    font-weight: bolder;
    color: yellow;
}


*/
.corpo{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.corpo .conteiner_inicio{
    margin-top: 3%;
    margin-bottom: 3%;
    background-color: rgb(255, 255, 255);
   width: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
     font-size: medium;
    color: rgb(0, 0, 0);
    box-shadow: rgb(0, 0, 0) 5px 5px 10px;
}


.corpo .conteiner_inicio .titulo {
    color: yellow;
    padding-top: 3%;
    padding-bottom: 3%;
    font-size: 30px;
    font-weight: bold;
}

.conteiner_conjunto{
    display: flex;
    justify-content: center;
}

.texto1{
    
    width: 60%;
    text-align: justify;
    font-size: 28px;
    font-weight: bold;
}


   

.imagem_começo{
    width: 100%;;
}
.div_sites{
     
    width: fit-content;
    align-items: center;
    display: flex;
    flex-direction: column;
    
    margin-left: 30px;
}

.corpo .titulo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.corpo .titulo h1{
    color: yellow;
    background-color: rgb(1, 105, 1);
    width: fit-content;
    border-radius: 10px;
    display: flex;
    margin-bottom: 30px;
     padding: 10px;
    text-decoration: none;
    
    
}
#bet365{
    height: 200px;
    width: 200px;
}
#sportingbet{
    height: 200px;
    width: 200px;
}

#betfair{
    height: 200px;
    width: 200px;
}
#xbet{
    height: 200px;
    width: 200px;
}
#betano{
    height: 200px;
    width: 200px;
}

#kto{
    height: 200px;
    width: 150px;
}
#junção{
    flex-direction: row;
    display: flex;
}
.div_inicial{
    background-image: url('imagens/Img_start.jpg');
}
.site_cad{
    font-weight: bolder;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
    background-color: white;
    width: fit-content;
    padding: 20px;
    margin-left: 230px;
    border-radius: 10px;
    box-shadow: black 5px 5px 10px;
}


.site_cad a{
    background-color: green;
    box-shadow: black 5px 5px 10px;
    text-decoration: none;
    color: yellow;
    border-radius: 3px;
    padding: 5px;
}









.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    height: 110px;
    position: static;
    width: auto;
    margin-top: 300px;
}

.footer p{
    font-weight: bolder;
    color: white;
}
